* {
  box-sizing: border-box;
}

body {
  background-image: url("https://img.freepik.com/premium-vector/pi-day-seamless-pattern-with-mathematical-constants-baked-pie-template-hand-drawn-illustration_2175-12164.jpg");
}

#content {
  display: flex;
}

/*--------------------------------------------------------------------
Calculator Style
--------------------------------------------------------------------*/

#calc {
  background-color: white;
  height: 80vh;
  width: 50vh;
  border: solid black;
  margin: auto;
  margin-left: calc(50vw - 25vh);
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#screen {
  height: 30%;
  width: 90%;
  border: solid black;
  background-color: rgb(79, 79, 79);
  display: flex;
  align-items: center;
  justify-content: end;
}

#buttons {
  height: 60%;
  width: 90%;
  display: flex;
}

#left {
  height: 100%;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
}

#right {
  height: 100%;
  width: 25%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

button {
  box-sizing: border-box;
  font-size: 5vh;
}

.operation-buttons {
  height: 20%;
  width: 100%;
  background-color: orange;
}

.number-buttons {
  height: 20%;
  width: calc(100% / 3);
  background-color: rgb(182, 182, 182);
}

.number-buttons:nth-child(1),
.number-buttons:nth-child(2) {
  width: 50%;
}

.number-buttons:nth-child(12) {
  width: calc(200% / 3);
}

/*--------------------------------------------------------------------
Hystory Style
--------------------------------------------------------------------*/

#history-button {
  font-size: 2vh;
  height: 5vh;
  width: 8vh;
  margin-top: 1.5vh;
  margin-left: calc(50vw - 4vh);
  padding: 0;
}

#history {
  visibility: hidden;
  background-color: rgb(255, 230, 255);
  color: black;
  border: solid black;
  height: 80vh;
  width: 50vh;
  margin: auto;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

#history p {
  text-align: right;
  margin: 0; 
}

.calcul {
  margin-top: 1vh;
  margin-right: 1vh;
  margin-bottom: 1vh;
}

.result {
  font-size: 3vh;
}

.operation {
  font-size: 2vh;
}

#history hr {
  width: 100%;
  margin-left: 10px;
}

/*--------------------------------------------------------------------
Mobile Style
--------------------------------------------------------------------*/

@media only screen and (max-width: 1200px) {

  #content {
    width: 90vw;
  }

  #calc {
    height: 144vw;
    width: 90vw;
    margin-left: 5vw;

  }
  #history {
    position: absolute;
    height: 144vw;
    width: 90vw;
    margin-left: 5vw;
  }

  ::-webkit-scrollbar {
    display: none;
  }

}

/*--------------------------------------------------------------------
ScrollBar Style
--------------------------------------------------------------------*/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: white; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(200, 200, 200); 
}